@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
  padding: 0;
  margin: 0;
  background: transparent;
}

body{
  background-color: #111;
}

h1{
  color: white;
  font-size: xx-large;
  height: 40vh;
  width: 50vw;
  transform: translate(50%,50%) 
}